{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

<div id="simulateur" {{ attributes }}>
    {{ title_prefix }}
    {% if label %}
        <h3{{ title_attributes }}>{{ label }}</h3>
    {% endif %}
    {{ title_suffix }}

    <div class="wrap-column content">
        <div class="column3_2 sim-column">

            <form class="main-form" name="calcul-mensualites" id="calcul-mensualites">
                <div class="form-row">
                    <label for="montant">Montant du prêt *</label>
                    <span class="fa-stack fa-lg hint--bottom hint--medium" aria-label="Indiquez le montant de prêt">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <input type="text" id="montant" name="montant" required>
                    <div class="type single-letter">€</div>
                </div>

                <div class="form-row">
                    <label for="montant">Durée du prêt *</label>
                    <span class="fa-stack fa-lg hint--bottom hint--medium" aria-label="Indiquez la durée souhaitée du prêt en années">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <select id="duree" name="duree" required>
                        {%  for i in 5..30 %}
                            <option value="{{ i }}" {{ i == 25 ? 'selected' }}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <div class="type">an(s)</div>
                </div>

                <div class="form-row">
                    <label for="montant">Taux d'intérêt *</label>
                    <span class="fa-stack fa-lg hint--bottom hint--large" aria-label="Indiquez ici le taux d'intérêt annuel de votre prêt, hors assurance.">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <input type="text" id="taux-interet" name="taux-interet" required>
                    <div class="type single-letter">%</div>
                </div>

                <div class="form-row">
                    <label for="montant">Taux d'assurance *</label>
                    <span class="fa-stack fa-lg hint--bottom hint--large" aria-label="Indiquez ici le taux d'intérêt annuel de l'assurance crédit sur le Capital initial. Nous vous proposons ici, par défaut, le taux moyen constaté">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <input type="text" id="taux-assurance" name="taux-assurance" value="0.36" required>
                    <div class="type single-letter">%</div>
                </div>

                <div class="form-button">
                    <button type="submit" class="button calcul">Calculer</button>
                </div>
            </form>
            <div class="second-form">
                <div class="form-result">
                    Le montant de vos mensualités s'élève à <span id="result">648,49 €</span> dont <span id="assurance">30,00 €</span> d'assurance.
                </div>
                <div class="form-cost">
                    Le coût total de votre crédit sera de <span id="total-cost">16 729,08 €</span> dont <span id="total-assurance">5 400,00 €</span> d'assurance.
                </div>
                <div class="form-button">
                    <a href="mailto:contact@acsgestionprivee.fr" class="button contact-us">Contactez-nous</a>
                </div>
            </div>
        </div>
    </div>

</div>