<div id="scroll-header" >
    <div id="scroll-header-content">
        <div class="wrap" >
            <div class="left-header">
                <div class="site-logo">
                    <a class="logo-image"  href="{{ front_page }}">
                      
                            <img  class="logo-normal" alt="{{ site_name|t }}" src="{{  scroll_logo }}" /> 
                      
                       
                        <img class="logo-retina"   alt="{{ site_name|t }}" src=" {{ scroll_logo_retina }}" /> 
                    </a> 
                </div>
            </div>
            <div class="right-header">
                <div class="main-menu">
                    
                        {% if page.main_menu %}
                            {{ page.main_menu }}
                        {% endif %}
                    
                </div>
                <!-- End Main Menu --> 
            </div>
            <div class="cleared"></div>
        </div>
    </div>
</div>

<div id="page" >
    <div id="header" class="{% if page.slider %} header-transparent header-text-white header-on-slider {% else %} header-white header-text-black {% endif %}"  style="">
         <div class='header_bg'  style=""></div>
        <div class="header_content">
            <div id="top-bar">
                <div class="wrap">
                    <div class="left-top-bar">
                        {% if page.left_top_bar %}
                            {{ page.left_top_bar }}
                        {% endif %}
                    </div>
                    <div class="right-top-bar">
                        {% if page.right_top_bar %}
                            {{ page.right_top_bar }}
                        {% endif %}
                        {% if page.search %}
                            
                                {{ page.search }}
                       
                        {% endif %}

                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
            <div id="top-bar-open">
                <div class="wrap">
                    <div id="topbar-open"><i class="fa fa-angle-down"></i></div>
                </div>
            </div>
            <div class="wrap">
                 {% if page.header %}
                   {{ page.header }}
               {% endif %}
                <div class="right-header">
                    <div class="main-menu">
                       
                            {% if page.main_menu %}
                                {{ page.main_menu }}
                            {% endif %}
                      </div>
                    <!-- End Main Menu --> 
                </div>
                <div class="cleared"></div>
                <div id="toggle-menu-button"><i class="fa fa-align-justify"></i></div>
                <div class="toggle-menu">
                    <div class="menu-toggle-menu-container">
                            {% if page.toggle_menu %}
                                {{ page.toggle_menu }}
                            {% endif %}

                    </div>
                </div>
            </div>
            <!-- End Header Wrap --> 
            <!-- End Header --> 
        </div>
        <!-- End Header Content --> 
    </div>
    <!-- end Header -->
    <div class="cleared"></div>